 <div class="posts">
    <%= link_to '新規投稿',"/microposts/new" %>
</div>

<div class="main">
   <% @microposts.each do |cnann| %>
    <div class="posts">
      <div class="post">
        <%= cnann.id %>
      </div>
      <div class="post">
        <%= cnann.number %>
      </div>
      <div class="post">
        <%= cnann.date %>
      </div>
      <div class="post">
        <%= link_to cnann.content,"/microposts/#{cnann.id}" %>
      </div>
    </div>
   <% end %>
</div>